<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC connection -->
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/javatraining
        </property>

        <property name="hibernate.connection.username">
            postgres
        </property>

        <property name="hibernate.connection.password">
            postgres
        </property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>

        <!-- Debug SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Schema strategy -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- HikariCP Connection Pool -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>

        <mapping class="com.homeapp.javatraining.model.Topic"/>
        <mapping class="com.homeapp.javatraining.model.Question"/>
        <mapping class="com.homeapp.javatraining.model.Answer"/>
        <mapping class="com.homeapp.javatraining.model.User"/>
        <mapping class="com.homeapp.javatraining.model.TestResult"/>

    </session-factory>

</hibernate-configuration>
